# **<mark>Views</mark>**

In [ ]:
SELECT
    product_name, 
    brand_name, 
    list_price
FROM
    production.products p
INNER JOIN production.brands b 
        ON b.brand_id = p.brand_id

<span style="font-size: 14px;">SQL Server cung cấp một cách tốt hơn để lưu truy vấn này trong danh mục cơ sở dữ liệu thông qua một dạng xem.</span>

<span style="font-size: 14px;">Dạng xem (Views) là một truy vấn được đặt tên được lưu trữ trong danh mục cơ sở dữ liệu cho phép bạn tham khảo nó sau này.</span>

<span style="font-size: 14px;">Vì vậy, truy vấn ở trên có thể được lưu trữ dưới dạng một dạng xem bằng cách sử dụng câu lệnh CREATE VIEW như sau:</span>

In [ ]:
CREATE VIEW sales.vw_product_info
AS
SELECT
    product_name, 
    brand_name, 
    list_price
FROM
    production.products p
INNER JOIN production.brands b 
        ON b.brand_id = p.brand_id

In [ ]:
SELECT * FROM sales.vw_product_info

<span style="font-size: 14px;">Khi nhận được truy vấn này, SQL Server thực hiện truy vấn sau:</span>

In [ ]:
SELECT 
    *
FROM (
    SELECT
        product_name, 
        brand_name, 
        list_price
    FROM
        production.products p
    INNER JOIN production.brands b 
        ON b.brand_id = p.brand_id
) a

<span style="font-size: 14px;">Theo định nghĩa, các view không lưu trữ dữ liệu ngoại trừ indexed views.</span>

<span style="font-size: 14px;">Một dạng xem có thể bao gồm các cột từ nhiều bảng sử dụng các phép nối hoặc chỉ một tập hợp con các cột của một bảng duy nhất. Điều này làm cho các khung nhìn hữu ích cho việc trừu tượng hóa hoặc ẩn các truy vấn phức tạp.</span>

<span style="font-size: 14px;">Hình ảnh sau đây minh họa dạng xem bao gồm các cột từ nhiều bảng:</span>

![Views](SQL-Server-Views.png)

<span style="font-size: 14px;"><b>Ưu điểm của views</b></span>

<span style="font-size: 14px;"><b>Bảo mật</b></span>

- <span style="font-size: 14px;">Bạn có thể hạn chế người dùng truy cập trực tiếp vào bảng và cho phép họ truy cập vào một tập hợp con dữ liệu thông qua các dạng xem.</span>
    
- <span style="font-size: 14px;">Ví dụ: bạn có thể cho phép người dùng truy cập tên, điện thoại, email của khách hàng qua một chế độ xem nhưng hạn chế họ truy cập vào tài khoản ngân hàng và các thông tin nhạy cảm khác.</span>
    

<span style="font-size: 14px;"><b>Sự đơn giản</b></span>

- <span style="font-size: 14px;">Cơ sở dữ liệu quan hệ có thể có nhiều bảng với các mối quan hệ phức tạp, ví dụ: một-một và một-nhiều gây khó khăn cho việc điều hướng.</span>

- <span style="font-size: 14px;">Tuy nhiên, bạn có thể đơn giản hóa các truy vấn phức tạp với các phép nối và điều kiện bằng cách sử dụng một tập hợp các dạng xem.</span>

<span style="font-size: 14px;"><b>Tính nhất quán</b></span>

- <span style="font-size: 14px;">Đôi khi, bạn cần viết một công thức hoặc logic phức tạp trong mọi truy vấn.</span>
- <span style="font-size: 14px;">Để làm cho nó nhất quán, bạn có thể ẩn các tính toán và logic truy vấn phức tạp trong các dạng xem.</span>
- <span style="font-size: 14px;">Sau khi các dạng xem được xác định, bạn có thể tham chiếu logic từ các dạng xem thay vì viết lại nó trong các truy vấn riêng biệt.</span>

## **<mark>CREATE VIEW</mark>**

<span style="font-size: 14px;">Để tạo một dạng xem mới trong SQL Server, bạn sử dụng câu lệnh CREATE VIEW như được hiển thị bên dưới:</span>
```
CREATE VIEW [OR ALTER] schema_name.view_name [(column_list)]
AS
    select_statement;

```

<span style="font-size: 14px;">Trong cú pháp này:</span>

- <span style="font-size: 14px;">Đầu tiên, chỉ định tên của chế độ xem sau các từ khóa CREATE VIEW. Schema_name là tên của lược đồ mà chế độ xem thuộc về.</span>
- <span style="font-size: 14px;">Thứ hai, chỉ định một câu lệnh SELECT (select_statement) xác định chế độ xem sau từ khóa AS. Câu lệnh SELECT có thể tham chiếu đến một hoặc nhiều bảng.</span>

<span style="font-size: 14px;">Nếu bạn không chỉ định rõ ràng danh sách các cột cho dạng xem, SQL Server sẽ sử dụng danh sách cột bắt nguồn từ câu lệnh SELECT.</span>

<span style="font-size: 14px;">Trong trường hợp bạn muốn xác định lại chế độ xem, ví dụ: thêm nhiều cột vào chế độ xem hoặc xóa một số cột khỏi chế độ xem, bạn có thể sử dụng từ khóa OR ALTER sau từ khóa CREATE VIEW.</span>

In [ ]:
CREATE VIEW sales.daily_sales
AS
SELECT
    year(order_date) AS y,
    month(order_date) AS m,
    day(order_date) AS d,
    p.product_id,
    product_name,
    quantity * i.list_price AS sales
FROM
    sales.orders AS o
INNER JOIN sales.order_items AS i
    ON o.order_id = i.order_id
INNER JOIN production.products AS p
    ON p.product_id = i.product_id

In [ ]:
SELECT 
    * 
FROM 
    sales.daily_sales
ORDER BY
    y, m, d, product_name

In [ ]:
CREATE OR ALTER VIEW sales.daily_sales (
    year,
    month,
    day,
    customer_name,
    product_id,
    product_name,
    sales
)
AS
SELECT
    year(order_date),
    month(order_date),
    day(order_date),
    concat(
        first_name,
        ' ',
        last_name
    ),
    p.product_id,
    product_name,
    quantity * i.list_price
FROM
    sales.orders AS o
    INNER JOIN
        sales.order_items AS i
    ON o.order_id = i.order_id
    INNER JOIN
        production.products AS p
    ON p.product_id = i.product_id
    INNER JOIN sales.customers AS c
    ON c.customer_id = o.customer_id;

In [ ]:
SELECT 
    * 
FROM 
    sales.daily_sales

In [ ]:
CREATE VIEW sales.staff_sales (
        first_name, 
        last_name,
        year, 
        amount
)
AS 
    SELECT 
        first_name,
        last_name,
        YEAR(order_date),
        SUM(list_price * quantity) amount
    FROM
        sales.order_items i
    INNER JOIN sales.orders o
        ON i.order_id = o.order_id
    INNER JOIN sales.staffs s
        ON s.staff_id = o.staff_id
    GROUP BY 
        first_name, 
        last_name, 
        YEAR(order_date)

In [ ]:
SELECT  
    * 
FROM 
    sales.staff_sales
ORDER BY 
	first_name,
	last_name,
	year

## **<mark>List Views</mark>**

In [ ]:
SELECT 
	OBJECT_SCHEMA_NAME(v.object_id) schema_name,
	v.name
FROM 
	sys.views as v

## **<mark>DROP VIEW</mark>**

<span style="font-size: 14px;">Để xóa một dạng xem khỏi cơ sở dữ liệu, bạn sử dụng câu lệnh DROP VIEW như sau:</span>
```
DROP VIEW [IF EXISTS] schema_name.view_name

```

<span style="font-size: 14px;">Trong cú pháp này, bạn chỉ định tên của chế độ xem mà bạn muốn thả sau các từ khóa DROP VIEW. Nếu chế độ xem thuộc về một lược đồ, bạn cũng phải chỉ định rõ ràng tên của lược đồ mà chế độ xem thuộc về.</span>

<span style="font-size: 14px;">Nếu bạn cố gắng loại bỏ một dạng xem không tồn tại, SQL Server sẽ xuất hiện lỗi. Mệnh đề IF EXISTS ngăn lỗi xảy ra khi bạn xóa một dạng xem không tồn tại.</span>

<span style="font-size: 14px;">Để loại bỏ nhiều chế độ xem, bạn sử dụng cú pháp sau:</span>

```
DROP VIEW [IF EXISTS] 
    schema_name.view_name1, 
    schema_name.view_name2,
    ...
```

In [ ]:
DROP VIEW IF EXISTS sales.daily_sales

In [ ]:
CREATE VIEW sales.product_catalog
AS
SELECT 
    product_name, 
    category_name, 
	brand_name,
    list_price
FROM 
    production.products p
INNER JOIN production.categories c 
    ON c.category_id = p.category_id
INNER JOIN production.brands b
	ON b.brand_id = p.brand_id

In [ ]:
DROP VIEW IF EXISTS 
    sales.staff_sales, 
    sales.product_catalogs